*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* averiguar que carajo hace */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth; /* averiguar que carajo hace */
}

main{
    background: linear-gradient(135deg, #4a5668, #554039, #564969);
    background-size: 500%;
    background-image: url(backgroundLaptop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 20em; */
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000; /* averiguar que carajo hace */
    background: #020202fa;
    padding: 25px;
    text-align: center;
}

header nav a{
    padding: 10px 25px;
    color: rgb(202, 201, 201);
    font-size: 20px;
    text-transform: capitalize; /* averiguar que carajo hace */
}


header nav a:hover{
    color: white;
    text-shadow: 1px 1px 7px rgb(136, 136, 136);
}
header nav a {
    transition: 0.2s;
}
section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(248, 248, 248);
    /* font-weight: bolder;  */
    padding-bottom: 70px; /* averiguar que carajo hace */
}
h1, h2{
    margin: 10px 0px;
    font-size: 4rem;
}

.container{
    min-width: 60vw;
    max-width: 60vw;
}
span{
    text-decoration: underline;
}
.color-01{
    color: rgb(255, 180, 68);
}
.color-02{
    color: rgb(255, 180, 68);
    text-decoration: none;
}
.title-sec, .contain-sec{
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.877);
    border-radius: 9px;
}
.title-sec{
    margin-top: 15vh;
    padding: 20px;
    text-align: center;
}
.contain-sec{
    padding: 35px;
}

table{
    background-color: rgb(139, 180, 98);
}
@keyframes machine{
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

@media (max-width: 600px) {
    header{
        position: fixed;
        top: 0; left: 0; right: 0;
        z-index: 1000; /* averiguar que carajo hace */
        /* background: #ce1414; */
        padding: 3vh;
        text-align: center;
    }
    header nav a{
        padding: 0px 8px;
        color: rgb(202, 201, 201);
        font-size: 15px;
        text-transform: capitalize; /* averiguar que carajo hace */
        transition: none;
    }
    h1, h2{
        font-size: 40px;
    }
    h2{
        margin: 10px 0px;
    }
    main{
        animation: none;
    }
    .title-sec, .contain-sec{
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.877);
        padding: 15px;
        border-radius: 10px;
    }
    .contain-sec{
        margin-top: 70px;
        text-align: center;
    }
    .container{
        min-width: 90vw;
    }
}
